<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/jogo4.css">
    <script src="../javascript/jogo.js"></script>


    <title>Document</title>
</head>

<body>


    <div id="conteudoJogo4">
        <div onclick="jogar('x1')" class="campo"></div>
        <div onclick="jogar('x2')" class="campo"></div>
        <div onclick="jogar('x3')" class="campo"></div>
        <div onclick="jogar('x4')" class="campo"></div>
        <div onclick="jogar('x5')" class="campo"></div>
        <div onclick="jogar('x6')" class="campo"></div>
        <div onclick="jogar('x7')" class="campo"></div>
        <div onclick="jogar('x8')" class="campo"></div>
        <div onclick="jogar('x9')" class="campo"></div>
    </div>
    <script type="text/javascript" src="../javascript/ajax.js"></script>
</body>

</html>