*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;   
}

#divForca a {
    font-size: 36px;
    color: #fff;
    background-color: #D90404;
    padding: 15px;
    margin-top: 20px;
}
